#about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 150px;

    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
    padding: 0 60px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 30px;

}



.about-icons {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 75px;
}

.about-icons a {
    font-size: 2rem;
    color: rgb(79, 115, 2);
    
}